.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  height: 50px;

  color: var(--yello);

  background-image: linear-gradient(209deg, rgba(6, 56, 82, 1) 15%, rgba(9, 42, 59, 1) 72%);
  border-color: transparent;
  border-style: solid;
}

.header_lk {
  margin: 15px;
  text-decoration: none;
  color: var(--yello);
  font-size: 20px;
}

.header_title {
  font-size: 30px;
  font-weight: 700;
}

.menuButtons {
  display: flex;
  color: var(--yello);
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}



@media (max-width: 640px) {
  .menu__btn {
    display: flex;
  }
  .menu__btn span {
    height: 2px;
    background-color: var(--yello);
    width: 100%;
  }


  .menuButtons {
    width: 170px;
    background-image: linear-gradient(209deg, rgba(6, 56, 82, 1) 15%, rgba(9, 42, 59, 1) 72%);
    border-color: transparent;
    border-style: solid;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 30px 25px 45px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform .5s ease;
    z-index: 5;
  }

  .menuButtons.menuButtons__open {
    transform: translateY(0%);
  }
}

@media (max-width: 360px) {
  .header_title {
    font-size: 20px;
  }

  .header_lk {
    margin: 15px;
    font-size: 18px;
  }
}