.poster {
    position: relative;
    justify-content: space-between;
    padding: 40px;
}
  
.poster_title {
font-weight: 700;

color: var(--bg);

color: #97ff29;
font-size: 120px;
font-family: 'Raleway', Arial, sans-serif;
line-height: 1;

margin: 0 20px;
}

.poster_content {
position: relative;

/*display: flex;*/
align-items: stretch;
margin-top: 9px;
}
.text{
    margin: 20px;
}

.poster_head {
font-weight: 500;
font-size: 35px;
line-height: 51px;

color: var(--light);
color: #fff;
max-width: 500px;
margin: 10px 0 24px 0;
}

.poster_button {
    height: 40px;
    width: 340px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Raleway', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-radius: 30px;
    background-color: #7f29ff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
   
    
}

.content_footer {
    border-radius: 20px;
    background-image: linear-gradient(225deg, rgba(6, 56, 82, 1) 15%, rgba(9, 42, 59, 1) 72%);
    border-color: transparent;
    border-style: solid;

   /*
    width: 1040px;
    left: 81px;
    top: 463px;
    */
    height: 144px;
    zoom: 1.266;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.features_item{
margin: 5px;

}
.feature_img{
    height: 45px;
    width: 45px;
}
.feature_text{
    color: #ffffff;
    font-size: 14px;
    font-family: 'Raleway', Arial, sans-serif;
    line-height: 1.4;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    display: table-cell;
    vertical-align: middle;
    width: 100%;
    -webkit-text-size-adjust: 100%;


    top: 521px;
    left: 123px;
    width: 160px;
    zoom: 1.266;
}
.poster_image {
    position: relative;
    flex-grow: 1;
    height: 250px;
}

.poster_image img {
    position: absolute;
    bottom: 43%;
    right: -2%;
    max-width: 350px;
}
